.right {
    position: relative;
    width: 100%;
    min-height: 1px;
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 15px;

    @include tablet {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
    }
}