.upload-form {
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    padding-bottom: 12px;

    @include mobile-large {
        padding-bottom: 0;
    }

    &__title {
        color: #263238;
        font-size: 24px;
        font-weight: 500;
        padding: 20px 34px;
        border-bottom: 1px solid #d7d7d7; 

        @include mobile {
            font-size: 18px;
        }
    }
    &__form-group {
        padding: 42px 45px 50px;

        @include mobile-large {
            padding: 24px 24px 50px;
        }
        @include mobile {
            padding: 24px 12px 24px;
        }
    }
    &__input-group {
        display: flex;
        margin-bottom: 20px;

        @include mobile-large {
            flex-direction: column;
        }

        &:last-child {
            margin-bottom: 0;
        }
        &--submit {
            padding-left: 177px;
            padding-top: 22px;

            @include mobile-large {
                padding-left: 0;
                padding-top: 0;
            }
        }
    }
    &__label {
        width: 177px;
        min-width: 177px;
        color: #444444;
        font-size: 15px;
        font-weight: 400;
        line-height: 40px;
    }
    &__mark {
        color: #8bc34a;
        font-size: 24px;
        font-weight: 400;
    }

    &__text-input,
    &__textarea {
        width: 100%;
        height: 40px;
        padding: 0 20px;
        border: 1px solid #d7d7d7;
        background-color: #f9f9f9;
        color: #707070;
        font-size: 15px;
        font-weight: 400;
        outline: none;
    }
    &__textarea {
        height: 150px;
        resize: none;
        padding: 14px 20px;
    }
    &__btn-submit {
        display: inline-block;
        max-width: 124px;
        height: 46px;
        background-color: #8bc34a;
        padding: 0 38px;
        color: $white;
        border: none;
        outline: none;
        font-family: 'Roboto', sans-serif;

        @include mobile-large {
            max-width: 180px;
        }
        @include mobile {
            max-width: none;
        }
    }

    // select
    .jq-selectbox {
        width: 100%;
    }
    .jq-selectbox__select {
        background: #f9f9f9;
        box-shadow: none;
        height: 40px;
        border-radius: 0;
        font-family: 'Roboto', sans-serif;
        line-height: 38px;
        border: 1px solid #d7d7d7;
        padding: 0 45px 0 20px;
    }
    .jq-selectbox__select-text {
        color: #707070;
        font-size: 15px;
        font-weight: 400;
    }
    .jq-selectbox__select {
        outline: none;
    }
    .jq-selectbox.focused .jq-selectbox__select{
        border: 1px solid #d7d7d7;
    }
    .jq-selectbox__trigger {
        border-left: none;
    }
    .jq-selectbox__trigger-arrow {
        top: 17px;
    }
    .jq-selectbox__dropdown {
        border-radius: 0;
    }
    .jq-selectbox li {
        &:hover {
            background: #f9f9f9;
            color: #444444;
        }
    }
    // file
    &__type-file {
        width: 100%;
        box-shadow: none;
    }
    .jq-file__name {
        border-radius: 0;
        padding: 0 20px 0 112px;
        height: 40px;
        line-height: 38px;
        border: 1px solid #d7d7d7 !important;
        border-radius: 0;
        background: #f9f9f9;
        color: #707070;
        font-size: 12px;
        font-weight: 400;
    }
    .jq-file__browse {
        width: 90px;
        height: 26px;
        border: 1px solid #d7d7d7;
        background: $white;
        font-family: 'Roboto', sans-serif;
        border-radius: 0;
        text-shadow: none;
        text-align: center;
        line-height: 24px;
        box-shadow: none;
        top: 7px;
        left: 10px;
        right: auto;
    }
}