.free-tutorials {
    padding: 120px 0;

    @include laptop {
        padding: 80px 0;
    }

    @include tablet {
        padding: 65px 0;
    }

    @include mobile-large {
        padding: 50px 0;
    }

    @include mobile {
        padding: 40px 0;
    }

    &__title {
        color: $dark-gray;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 57px;
        text-transform: capitalize;

        @include tablet {
            line-height: 1.3;
            font-size: 30px;
            margin-bottom: 50px;
        }

        @include mobile-large {
            font-size: 25px;
            margin-bottom: 40px;
        }

        @include mobile {
            font-size: 22px;
            margin-bottom: 30px;
        }
    }

    &__wrapper {
        display: flex;
        margin: 0 -15px;

        @include tablet {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
        width: 33.33333%;
        padding: 0 15px;

        @include tablet {
            width: 50%;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @include mobile-large {
            width: 100%;
            margin-bottom: 25px;
        }
    }

    &__item-inner {
        background: $white-smoke;
    }

    &__item-img {
        height: 270px;
        width: 100%;

        @include mobile {
            height: 210px;
        }
    }

    &__item-title {
        padding: 37px 10px;

        @include tablet {
            padding: 34px 10px;
        }

        @include mobile-large {
            padding: 28px 10px;
        }

        @include mobile {
            padding: 24px 10px;
        }
    }

    &__item-link {
        color: $dark-gray;
        font-size: 24px;
        font-weight: 700;
        text-transform: capitalize;

        @include mobile-large {
            font-size: 22px;
        }

        @include mobile {
            font-size: 19px;
            line-height: initial;
        }
    }
}