.trending-products {
    padding: 122px 30px;

    @include laptop {
      padding: 102px 30px;
    }
    @include tablet {
      padding: 81px 30px;
    }
    @include mobile-large {
      padding: 61px 30px;
    }
    @include mobile {
      padding: 41px 30px;
    }

    &__title {
        color: $dark-gray;
        font-size: 36px;
        font-weight: 700;
        line-height: 60px;
        text-transform: capitalize;
        margin-bottom: 55px;

        @include laptop {
            font-size: 30px;
            margin-bottom: 46px;
        }
        @include tablet {
            font-size: 24px;
            margin-bottom: 37px;
        }
        @include mobile-large {
            font-size: 22px;
            margin-bottom: 28px;
        }
        @include mobile {
            font-size: 16px;
            margin-bottom: 20px;
        }
  }

  &__carousel {

      .owl-dots {
          display: flex;
          justify-content: center;
          margin-top: 52px;

          @include laptop {
              margin-top: 43px;
          }
          @include tablet {
              margin-top: 35px;
          }
          @include mobile-large {
              margin-top: 26px;
          }
          @include mobile {
              margin-top: 18px;
          }

          .owl-dot {
              width: 16px;
              height: 16px;
              border-radius: 50%;
              border: 1px solid #e3e3e3;
              background-color: #e8e8e8;

              &.active {
                  background-color: #8bc34a;
              }
          }
          .owl-dot + .owl-dot {
            margin-left: 7px;
          }
      }

  }

  &__carousel-item {
      display: flex;
      justify-content: space-around;
  }

  &__carousel-card {
      //width: calc((100% - 90px) / 4);
      width: 100%;
      overflow: hidden;
      box-shadow: 0 1px 2px rgba(205,214,222,0.75);
  }

  &__carousel-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}